body {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(48, 0, 71));
            display: flex;
            justify-content: center;
            align-items: center;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    
}

a {
    color: white;
    text-decoration: none;
}

header{
    h1 {
        color: rgb(153, 31, 209);
    }

    h2 {
        color:white;
    }

    img {
        width: 300px;
        height: 300px;
        border-radius: 20%;
        border: 5px solid rgb(153, 31, 209);
        margin: 40px;
    }

    text-align: center;
}

.container {
    padding: 0px 50px;

}

nav a:hover {
    color: rgb(153, 31, 209);
}

main {
    margin-bottom: 20px;
    img {
        width: 350px;
        height: 350px;
        border-radius: 10%;
        border: 5px solid rgb(153, 31, 209);
    }
    video {
        width: 500px;
        height: 500px;
        border-radius: 10%;
        border: 5px solid rgb(153, 31, 209);
    }
}
